.w_100{
    width:100% !important;
    height: 100% !important;
}
#home{
    filter: drop-shadow(2px 4px 6px black);
}
@media(min-width:600px){
    .top_navbar{
        box-shadow: 0 0 20px rgb(158, 163, 158) !important;
    }

    #top_actions_section{
        display: flex !important;
        align-items: center !important;
    }
}
.user_list_item.active .user_list_arrow-icons.active{

    transform: rotate(180deg);
}
.user_list_item.active ,.user_list_item.active .collapsible-header{
    background-color: rgb(154, 158, 161);
}